<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
  </appSettings>
   <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed"></httpErrors>
    <handlers>
        <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler"
            scriptProcessor="D:\Python34\python.exe" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
        <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="SERVER_HOST" value="%Host%" />
    </environmentVariables>
  </system.webServer>
</configuration>