<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" existingResponse="PassThrough"></httpErrors>
    <handlers>
        <add name="httpplatformHandler" path="*" verb="*" modules="httpPlatformHandler"
            scriptProcessor="D:\Python34\python.exe" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    <httpPlatform processPath="D:\Python34\python.exe"
                  arguments="D:\home\site\wwwroot\app.py --port %HTTP_PLATFORM_PORT%"
                  stdoutLogEnabled="true"
                  startupTimeLimit="60"
                  processesPerApplication="16">
        <environmentVariables>
            <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
            <environmentVariable name="SERVER_HOST" value="%Host%" />
        </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>