<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="app.py"/>
        <add key="PYTHONPATH" value="D:\home\site\wwwroot"/>
        <add key="WSGI_LOG" value="D:\home\LogFiles\wfastcgi.log"/>
    </appSettings>
  <system.webServer>
    <httpErrors errorMode="Detailed"></httpErrors>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" scriptProcessor="D:\home\Python361x64\python.exe"/>
    </handlers>
    <httpPlatform processPath="D:\home\Python361x64\python.exe"
                  arguments="D:\home\site\wwwroot\app.py --port %HTTP_PLATFORM_PORT%"
                  stdoutLogEnabled="true"
                  stdoutLogFile="D:\home\LogFiles\python.log"
                  startupTimeLimit="60"
                  processesPerApplication="16">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
        <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="SERVER_HOST" value="%Host%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
